.infoPage__actorEditor {
  position: relative;
  padding: 20px 20px 0 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  @media (min-width: 360px) and (max-width: 767.5px) {
    padding-left: calc(10px + (20 - 10) * ((100vw - 360px) / (768 - 360)));
    padding-right: calc(10px + (20 - 10) * ((100vw - 360px) / (768 - 360)));
  }
}
.actorEditor__actorForm {
  display: flex;
  flex-direction: column;
}
input[type="file"] {
  display: none;
}
.actorForm__input {
  margin-top: 10px;
  padding-left: 10px;
  border: 2px solid #2c2d33;
  background-color: #3c3c42;
  width: 300px;
  height: 45px;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 500;
  color: #858585;
  @media (min-width: 360px) and (max-width: 767.5px) {
    width: calc(130px + (300 - 130) * ((100vw - 360px) / (768 - 360)));
    height: calc(40px + (45 - 40) * ((100vw - 360px) / (768 - 360)));
    font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (768 - 360)));
    padding-left: calc(5px + (10 - 5) * ((100vw - 360px) / (768 - 360)));
  }
}
.actorForm__input.error,
.actorForm__customInputFile.error {
  border: 2px solid #d81f26;
}
.actorForm__input::placeholder {
}
.actorForm__customInputFile {
  transition: 0.3s;
  margin-top: 15px;
  width: 200px;
  height: 40px;
  border: 2px solid #2c2d33;
  background-color: #3d3d44;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 500;
  color: #858585;
  @media (min-width: 360px) and (max-width: 767.5px) {
    width: calc(130px + (200 - 130) * ((100vw - 360px) / (768 - 360)));
    height: calc(40px + (45 - 40) * ((100vw - 360px) / (768 - 360)));
    font-size: calc(14px + (16 - 14) * ((100vw - 360px) / (768 - 360)));
  }
}
.actorForm__customInputFile:hover {
  background-color: #2c2d33;
}
.actorEditor__viewImg {
  max-height: 320px;
  max-width: 500px;
  @media (min-width: 360px) and (max-width: 767.5px) {
    width: calc(110px + (210 - 110) * ((100vw - 360px) / (768 - 360)));
    height: calc(180px + (320 - 180) * ((100vw - 360px) / (768 - 360)));
  }
}
.actorEditor__btn {
  position: absolute;
  bottom: 20px;
  left: 15px;
  transition: 0.3s;
  width: 150px;
  height: 45px;
  background-color: #d81f26;
  border-radius: 10px;

  font-size: 16px;
  font-weight: 500;
  color: #ececec;
}
.actorEditor__btn:hover {
  box-shadow: 0 0 15px #d81f25c4;
  text-shadow: 0 2px 15px #ffffffbe;
}
