.homePage__sliderFilm {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliderFilm__slideBlock {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  width: 630px;
  height: 375px;
  background-color: #000;
}
.slideBlock__img {
  width: 630px;
  height: 375px;
  width: 100%;
  height: 100%;
  filter: contrast(120%);
  opacity: 0.6;
}
.slideBlock__filmInfo {
  position: absolute;
  bottom: 25px;
  left: 30px;
}
.filmInfo__infoList {
  display: flex;
  align-items: center;
}
.infoList__item {
  padding: 0 10px 0 10px;
  height: 23px;
  font-weight: 500;
  color: #f9faff;
  border-right: 1.5px solid #d4d4d4;
  text-shadow: 0 2px 8px #ffffffec;
}
.infoList__item:last-child {
  border: none;
}
.infoList__item:first-child {
  padding-left: 0;
}
.filmInfo__title {
  font-size: 25px;
  font-weight: 600;
  color: #f9faff;
  text-shadow: 0 2px 8px #ffffffec;
}
.filmInfo__description {
  max-width: 300px;
  font-size: 14px;
  font-weight: 400;
  color: #cfcfcf;
  text-shadow: 0 2px 8px #c5c5c5ed;
}
.sliderBlock__btnBooking {
  transition: 0.3s;
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 115px;
  height: 50px;
  background-color: #d81f26;
  border-radius: 15px;
  box-shadow: 0 4px 20px #d81f25e2;

  color: #f9faff;
  font-size: 19px;
  font-weight: 500;
  text-shadow: 0 2px 8px #ffffffec;
}
.sliderBlock__btnBooking:hover {
  background-color: #ff494f;
  transform: scale(1.07);
}
