.app__filmPage {
  margin: 40px 0 0 0;
  padding: 0 50px 0 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  iframe {
    width: 1180px;
    height: 600px;
  }
}
.filmPage__trailerVideo {
  margin-top: 50px;
  width: 100%;
}
.filmPage__detailedInfo {
  margin-top: 30px;
  width: 100%;
  display: flex;
}
.detailedInfo__posterImg {
  height: 500px;
}
.detailedInfo__filmData {
  margin-left: 50px;
}
.filmData__title {
  font-size: 30px;
  font-weight: 500;
  color: #696c7f;
  span {
    font-size: 35px;
    font-weight: 700;
  }
  .title__star * {
    stroke: #e8a60d;
    fill: #e8a60d;
  }
}
.filmData__description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 18px;
  max-width: 770px;
  font-weight: 400;
  color: #696c7f;
  .description__span {
    margin-bottom: 10px;
    font-size: 18px;
    color: #4a4b57;
  }
}
.filmData__text {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #696c7f;
  .filmData__span {
    color: #565660;
  }
}

.filmData__bookBtn {
  transition: 0.3s;
  margin-top: 25px;
  width: 150px;
  height: 45px;
  background-color: #d81f26;
  border-radius: 10px;

  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.filmData__bookBtn:hover {
  box-shadow: 0 2px 18px #d81f25b5;
}
.filmPage__actorsSwiperBlock {
  margin-top: 50px;
  width: 100%;
  height: 400px;
}
.actorsSwiperBlock__actorsSwiper {
  display: flex;
  align-items: center;
}
.actorsSwiperBlock__title {
  font-size: 25px;
  font-weight: 500;
  color: #cecece;
}
.actorsSwiper__actorCard {
  width: 190px;
  height: 320px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.actorCard__img {
  height: 250px;
}
.actorCard__title {
  font-size: 18px;
  font-weight: 500;
  color: #cecece;
}
.actorCard__role {
  font-size: 14px;
  font-weight: 400;
  color: #696c7f;
}
