.app__bookingPage {
  padding: 10px 0 0 50px;
  margin-top: 50px;
  width: 100%;
  @media (min-width: 360px) and (max-width: 767.5px) {
    padding-left: calc(20px + (50 - 20) * ((100vw - 360px) / (768 - 360)));
  }
}
.bookingPage__filmDataBlock {
  display: flex;
}
.filmDataBlock__img {
  height: 250px;
  border-radius: 10px;
  @media (min-width: 360px) and (max-width: 767.5px) {
    height: calc(160px + (250 - 160) * ((100vw - 360px) / (768 - 360)));
  }
}
.filmDataBlock__filmInfoBlock {
  margin-left: 20px;
}
.filmInfoBlock__title {
  overflow-y: scroll;
  font-size: 35px;
  font-weight: 500;
  color: #cecece;
  span {
    font-size: 38px;
    font-weight: 700;
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    font-size: calc(20px + (35 - 20) * ((100vw - 360px) / (768 - 360)));
    span {
      font-size: calc(22px + (38 - 22) * ((100vw - 360px) / (768 - 360)));
    }
  }
}
.filmInfoBlock__sessionsBlock {
  margin-top: 10px;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  @media (min-width: 360px) and (max-width: 767.5px) {
    overflow-y: scroll;
    height: calc(145px + (145 - 145) * ((100vw - 360px) / (768 - 360)));
    grid-template-columns: repeat(
      auto-fit,
      calc(85px + (125 - 85) * ((100vw - 360px) / (768 - 360)))
    );
  }
}
.sessionsBlock__filmSession {
  cursor: pointer;
  width: 125px;
  height: 45px;
  background-color: #696c7f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  @media (min-width: 360px) and (max-width: 767.5px) {
    width: calc(85px + (125 - 85) * ((100vw - 360px) / (768 - 360)));
    height: calc(40px + (45 - 40) * ((100vw - 360px) / (768 - 360)));
  }
}
.sessionsBlock__filmSession.active {
  background-color: #33343b;
}
.sessionsBlock__filmSession:hover {
  border: 2px solid #696c7f;
  background-color: transparent;
}
.filmSession__text {
  font-size: 18px;
  font-weight: 600;
  color: #cecece;
  span {
    font-weight: 500;
    color: #aeaeae;
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    font-size: calc(12px + (18 - 12) * ((100vw - 360px) / (768 - 360)));
  }
}
.bookingPage__bookingSection {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 360px) and (max-width: 1279.5px) {
    flex-direction: column;
  }
}
.bookingSection__cinemaHallBlock {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1280px) and (max-width: 1919px) {
    margin-right: calc(25px + (200 - 25) * ((100vw - 1280px) / (1920 - 1280)));
  }
  @media (min-width: 360px) and (max-width: 1279.5px) {
    margin-right: 0;
  }
}
.cinemaHallBlock__seatsBlock {
  width: 600px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;
  @media (min-width: 768px) and (max-width: 1279.5px) {
    width: calc(575px + (600 - 575) * ((100vw - 768px) / (1280 - 768)));
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    width: calc(310px + (575 - 310) * ((100vw - 360px) / (768 - 360)));
  }
}
.seatsBlock__img {
  cursor: pointer;
  transition: 0.3s;
  width: 32px;
  height: 32px;
  @media (min-width: 360px) and (max-width: 767.5px) {
    width: calc(24px + (32 - 24) * ((100vw - 360px) / (768 - 360)));
    height: calc(24px + (32 - 24) * ((100vw - 360px) / (768 - 360)));
  }
}
.seatsBlock__img:hover {
  path,
  rect {
    fill: #aeaeae;
  }
}
.seatsBlock__img.selected {
  path,
  rect {
    fill: #aeaeae;
  }
}
.seatsBlock__img.busy {
  cursor: default;
  path,
  rect {
    fill: #d81f26;
  }
}
.seatsBlock__img.own {
  cursor: default;
  path,
  rect {
    fill: #1fd891;
  }
}
.cinemaHallBlock__screen {
  width: 750px;
  height: 75px;
  border-bottom: 5px solid #696c7f;
  border-radius: 30%;
  @media (min-width: 1280px) and (max-width: 1919px) {
    width: calc(650px + (750 - 650) * ((100vw - 1280px) / (1920 - 1280)));
  }
  @media (min-width: 768px) and (max-width: 1279.5px) {
    width: calc(590px + (650 - 590) * ((100vw - 768px) / (1280 - 768)));
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    width: calc(320px + (590 - 320) * ((100vw - 360px) / (768 - 360)));
    height: calc(50px + (75 - 50) * ((100vw - 360px) / (768 - 360)));
  }
}
.bookingSection__bookingForm {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 450px;
  background-color: #696c7f42;
  border: 2px solid #696c7f;
  border-radius: 10px;
  @media (min-width: 1280px) and (max-width: 1919px) {
    width: calc(350px + (400 - 350) * ((100vw - 1280px) / (1920 - 1280)));
  }
  @media (min-width: 360px) and (max-width: 1279.5px) {
    margin-top: 30px;
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    width: calc(300px + (350 - 300) * ((100vw - 360px) / (768 - 360)));
    height: calc(390px + (450 - 390) * ((100vw - 360px) / (768 - 360)));
  }
}
.bookingForm__title {
  font-size: 23px;
  font-weight: 800;
  color: #696c7f;
}
.bookingForm__seats {
  font-size: 16px;
  font-weight: 500;
  color: #a5a8b6;
  span {
    font-size: 20px;
    color: #696c7f;
  }
}
.bookingForm__payBtn {
  transition: 0.3s;
  position: absolute;
  bottom: 10px;
  width: 200px;
  height: 45px;
  background-color: #696c7f;
  border-radius: 15px;

  font-size: 20px;
  font-weight: 500;
  color: #cecece;
}
.bookingForm__payBtn:hover {
  background-color: #cecece;
  color: #696c7f;
}
