.app__forKidsBlock {
  border-radius: 30px;
  margin: 50px 0 50px 0;
  padding: 0 0 40px 0;
  width: 98%;
  background: linear-gradient(
    36deg,
    rgba(252, 147, 0, 1) 8%,
    rgba(152, 0, 255, 1) 100%
  );
}
.forKidsBlock__title {
  margin: 20px 0 0 40px;
  font-size: 32px;
  font-weight: 600;
  color: #ececec;
  @media (min-width: 360px) and (max-width: 767.5px) {
    margin-left: calc(20px + (40 - 20) * ((100vw - 360px) / (768 - 360)));
  }
}
.forKidsBlock__swiperFilms {
  cursor: grab;
  padding: 10px 0 0 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 1280px) and (max-width: 1919px) {
    padding-left: calc(40px + (100 - 40) * ((100vw - 1280px) / (1920 - 1280)));
  }
  @media (min-width: 768px) and (max-width: 1279.5px) {
    padding-left: calc(10px + (100 - 10) * ((100vw - 768px) / (1280 - 768)));
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    padding-left: calc(10px + (10 - 10) * ((100vw - 360px) / (768 - 360)));
  }
}
.swiper-slide {
  @media (min-width: 1280px) and (max-width: 1919px) {
    width: calc(290px + (312 - 290) * ((100vw - 1280px) / (1920 - 1280)));
    margin-right: calc(15px + (30 - 15) * ((100vw - 1280px) / (1920 - 1280)));
  }
}
.forKidsBlock__kidsFilm {
  transition: 0.3s;
  margin-top: 40px;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  width: 290px;
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #ffffff98;
  @media (min-width: 768px) and (max-width: 1279.5px) {
    width: calc(265px + (385 - 265) * ((100vw - 768px) / (1280 - 768)));
    height: calc(460px + (585 - 460) * ((100vw - 768px) / (1280 - 768)));
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    width: calc(235px + (450 - 235) * ((100vw - 360px) / (768 - 360)));
    height: calc(380px + (750 - 380) * ((100vw - 360px) / (768 - 360)));
  }
}
.forKidsBlock__kidsFilm:hover {
  background-color: #ffffffc4;
  .kidsFilm__img {
    filter: brightness(120%);
  }
  .kidsFilm__title {
    color: #696c7f;
  }
}
.kidsFilm__img {
  transition: 0.3s;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  @media (min-width: 768px) and (max-width: 1279.5px) {
    height: calc(375px + (485 - 375) * ((100vw - 768px) / (1280 - 768)));
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    height: calc(310px + (660 - 310) * ((100vw - 360px) / (768 - 360)));
  }
}
.kidsFilm__info {
  margin: 5px 0 0 5px;
  font-size: 17px;
  font-weight: 500;
  color: #696c7f;
  @media (min-width: 768px) and (max-width: 1279.5px) {
    font-size: calc(17px + (22 - 17) * ((100vw - 768px) / (1280 - 768)));
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    font-size: calc(13px + (20 - 13) * ((100vw - 360px) / (768 - 360)));
  }
}
.kidsFilm__title {
  transition: 0.3s;
  margin: 0px 0 0 5px;
  font-size: 22px;
  font-weight: 600;
  color: #ececec;
  @media (min-width: 768px) and (max-width: 1279.5px) {
    font-size: calc(17px + (30 - 17) * ((100vw - 768px) / (1280 - 768)));
  }
  @media (min-width: 360px) and (max-width: 767.5px) {
    font-size: calc(20px + (30 - 20) * ((100vw - 360px) / (768 - 360)));
  }
}
.swiperFilms__navBtn {
  transition: 0.3s;
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 60px;
  background-color: #cececed5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiperFilms__navBtn:hover {
  background-color: #e9e9e9;
}
.navBtn__img {
  width: 30px;
  height: 30px;
}
.swiperFilms__navBtn.nextSlide {
  right: 0px;
  border-radius: 50px 0 0 50px;
  .navBtn__img {
    transform: rotate(-90deg);
  }
}
.swiperFilms__navBtn.prevSlide {
  left: 0;
  border-radius: 0px 50px 50px 0px;
  .navBtn__img {
    transform: rotate(90deg);
  }
}
